.fim {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    background-color: #f8f8f8; 
    border-top: 1px solid #ccc; 
    position: fixed; 
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); 
}


.total {
    font-size: 18px; 
    font-weight: bold; 
}


.close-account-btn {
    padding: 10px 20px; 
    font-size: 16px;
    color: #fff; 
    background-color: #007bff;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.close-account-btn:hover {
    background-color: #0056b3; 
}
