
.card .NomeP{
    text-align: left;
    font-style: italic;
}

.cardDentro1{
    border: 1px  solid #1a1919;
    border-radius: 5px;
    padding: 20px 0px 10px 10px;
    width:95%;
    height: 75px;
    margin-bottom: 10px;
}
.cardDentro1 p{
    width: 30%;
    font-size: 21px;
}
.checkbox{
    float:right;
   height: 40px; 
   width: 40px;
   margin-top:-50px;
   margin-right:40px;
}
.titulo{
    margin-left:15%;
}
.card .mensagemRemocao,  .card .mensagemInclusao{
    font-size: 32px;
}
.textbox{
    height:300px;

}