header.comanda /*classe adicionada para evitar conflito com o elemento <header> adicionado em outros arquivos*/ {
  background: url("../../../media/img/Teste.jpg");
  height: 250px;
}
button.comanda /*classe adicionada para evitar conflito com o elemento <button> adicionado em outros arquivos*/ {
  padding: 10px;
  margin: 100px 0px 75px 50px;
}
